<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello page</title>
</head>
<body>
<h1>Поздравляю!</h1>
    Вы прошли Open ID Connect аутентификацию со своим сервером авторизации!

    <p>Пользователь: <span th:text="${username}"></span></p>
    <p>Роли:</p>
    <ul>
        <li th:each="auth : ${authorities}" th:text="${auth.authority}"></li>
    </ul>
    <p>Access token: <span th:text="${accessToken}"></span></p>

    <form th:action="@{/logout}" method="post">
        <button type="submit">Выйти</button>
    </form>
</body>
</html>